html {
  height:100%;
}
body {
  margin: 3px; width: 99%; height:99%;
}
#my_auth {
  max-height:50px;
}
#my_auth p {
  margin:1px;
}
#iframe_main{
  width: 100%;
  height:calc(100% - 55px);
  border: none;
}
